form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    }

    .Planes {
        border: 5px outset black;
        background-color: white;
        text-align: center;
      }

      .xxxx {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
      }


    .sombra-gris {
        box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    }

  