/* Carrusel */

.contenedorCarrusel {
	width: 100%;
	/*
    /*height: 75vh;
    padding: 40px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 40rem;
}
.containerContact {
	background-color: #ffa134;
	max-width: 700px;
	width: 45%;
	position: relative;
}

.containerContact h3 {
	text-align: center;
}
.containerContact p {
	padding-left: 20%;
	text-align: left;
}

.text a:hover {
	color: black;
	font-weight: bold;
}

.text a {
	color: rgb(5, 59, 160);
}

.text1 a:hover {
	color: black;
	font-weight: bold;
}

.mySlides {
	display: none;
}
.mySlides img {
	/*width: 100%;*/
	width: 100%;
	max-height: 21.5rem;
	object-fit: cover;
}

.prev,
.next {
    display: block;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 1.5rem;
	/*padding: 16px;*/
	color: #fff;
    text-align: center;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6 ease;
	border-radius: 0 3px 3px 0;
	/*user-select: none;*/
	border: solid #fff 2px;
	z-index: 5;
}
.next {
	right: 1rem;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 1rem;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.elements {
	text-align: center;
}
.quadrate {
	cursor: pointer;
	height: 4px;
	width: 50px;
	margin: 0 2px;
	background-color: #717171;
	display: inline-block;
	transition: background-color 0.6s ease;
	border-radius: 2px;
}
.active,
.quadrate:hover {
	background-color: #fff;
}

/* Contáctanos */

.div-center {
	width: 100%;
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.flex-container1 {
	display: flex;
	flex-wrap: wrap;
}

.flex-container1 {
	background-color: #ed7d31;
	background-size: contain;
	width: 70%;
	border-radius: 1.5rem;
	padding: 1rem;
	margin-top: 0;
	cursor: pointer;
	overflow-x: hidden;
	overflow-x: hidden;
	justify-content: space-around;
}

.div-information div {
	display: flex;
	align-self: auto;
	gap: 10px;
	padding: 1rem;
}

.div-bottom {
	display: flex;
    justify-content:space-evenly;
    /*width: 50%;
	/*align-self: auto;*/
	gap: 25px;
}

.div-row-center input {
	width: 100%;
	padding: 2px;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 20px;
	color: #333;
	cursor: pointer;
}

.submitContact,
.resetContact {
	background-color: #2b69ac;
	color: #fff;
	border-radius: 20px;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	margin-top: 0.2rem;
	box-shadow: 0.2px 5px rgba(0, 0, 0, 0.1);
}

.submitContact:hover {
	background-color: #a7a7a9;
	transform: scale(1, 1.1) translate(0.1rem);
}

.resetContact:hover {
	background-color: #a7a7a9;
	transform: scale(1, 1.1) translate(0.1rem);
}

.div-row-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	gap: 1rem;
}

@media (max-width: 900px) {
	.container {
		width: 50%;
	}

	.div-center {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.container {
		width: 50%;
	}

	.div-center {
		width: 100%;
	}
	/*.prev,
	.next {
		/*padding: 1rem;
	}*/
}
