   .Planes {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    border: 5px outset black;
    background-color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    }




    .sombra-gris {
        box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    }

  