* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;  
}

body {
    /* background-image: url(../img/gimnasio.jpg); */
    background-repeat: no-repeat ;
    background-attachment:fixed
}

.tittle1 {
   text-align:right;
   padding: 2px;
}

.tittle1 a {
    padding-right: 1.5vw;
   
 }

.menu {
    text-align:center;
}

.menu a {
   padding-right: 1.5vw;
}

.menu a:hover {
    color: #000;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    text-indent: 25px;    
}

   
.flex-container div {
    /* background-image: url(../img/gimnasio5.jpg); */
    background-repeat: no-repeat ;
    background-size: cover;
    background-color: rgb(152, 236, 208);
    width: 30vw;
    height: 45vh;
    border-radius: 2vw;
    margin-top: 3rem; ;
    padding-top: 2rem;;
    padding-left: 0;
    box-shadow: 0.5vw 0.5vw rgba(128, 128, 128, 0.8);   
    color: black
   }

.flex-container h4 {
    padding: 1.5rem;
}

.flex-container a {
    padding: 2rem;    
}

.flex-container li {
    list-style-type: none ;
 
}

      
.flex-container div {
    transition: transform 0.3s ease-in-out;
   }

.flex-container div:hover{
    transform: scale(1, 1.1) translate(0.15rem);    
   }

.headquarters {
    color: blue;
} 

.div-center {
	display: flex;
	justify-content: center;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;    
}



.flex-container1 {
    background-color: #f7d6e0;
    background-size:contain;
    width: 70vw;
    border-radius: 2vw;
    padding:25px; 
    margin-top: 5rem;
    cursor: pointer;    
    overflow-x: hidden;
    overflow-x: hidden; 
    justify-content: space-around;      
}

.div-information div {
    display: flex;
    align-self: auto;
    gap: 10px;
    padding: 10px;
}

.div-bottom {
    display: flex;
    align-self:auto;
    gap: 25px;
}

.div-row-center input {
    width: 110%;
    padding: 2px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    cursor: pointer;    
    }

.div-row-buttom input[type="submit"], input[type="reset"] {    
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px 3px;
    cursor: pointer;
    margin-top: 7%;
    box-shadow: 0.2px 5px rgba(0, 0, 0, 0.1);       
}

.div-row-buttom input[type="submit"]:hover {
        background-color: #a7a7a9;
        transform: scale(1, 1.1) translate(0.1rem); 
}
    
.div-row-buttom input[type="reset"]:hover {
        background-color: #a7a7a9;
        transform: scale(1, 1.1) translate(0.1rem); 
}

.div-row-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 1rem;
}


.sombra-gris {
	box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sombra-rosa {
	box-shadow: 0.15rem 0.15rem #f2b5d4;
}


footer {
    margin-top: 5vh;
    background-color: rgb(187, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

