* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;    
}

.container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 250px;
    width: 100%;
    padding: 25px;
    border-radius: 6px;
    background-color: #ffa134;
    }

   
.form.signup{
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

.encab {
    font-size:20px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

form{
    margin-top: 30px;
}

.form .field{
    position: relative;
    height: 18px;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
}

.field input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 10px;
    font-weight: 200;
    border-radius: 6px;
}

.field button{
    display: flex;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 10px;
    font-weight: 200;
    border-radius: 6px;  
    justify-content: center;   
    align-items: center;     
}

.field input{
    outline: none;
    padding: 0 25px;
    border: 1px solid#CACACA;
}

.field input:focus{
    border-bottom-width: 2px;
}

.eye-icon1 {
    position: absolute;
    top: 55%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 6px;

    }


.eye-icon{
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.6s ease;
    cursor: pointer;
}

.div-row-buttom input[type="submit"] {    
    background-color: #016dcb;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px 3px;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 0.3px 3px rgba(101, 155, 235, 0.779);       
}

.div-row-buttom input[type="submit"]:hover {
        background-color: #3b3bbe;
        transform: scale(1, 1.1) translate(0.1rem); 
}

.form-link{
    text-align: center;
    margin-top: 20px;
}

.form-link span,
.form-link a{
    font-size: 10px;
    font-weight: 400;
    color: #232836;
}

.form a{
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}

footer {
    margin-top: 5vh;
    background-color: rgb(187, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

/* Responsive */


@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}