.mainFormBody {
	width: 100vw;
}

.containerLogin {
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
	max-width: 250px;
	width: 100%;
	padding: 25px;
	border-radius: 6px;
	background-color: #ffa134;
    margin-bottom: 1rem;
}

.signup {
    display: none
}
.show {
    display: flex;
}
.hidden {
    display: none;
}

.encab {
	font-size: 2rem;
	font-weight: 600;
	color: #232836;
	text-align: center;
}

.encab img {
	width: 6rem;
}

h1 {
	font-size: 2rem;
}

.form .field {
	position: relative;
	height: 18px;
	width: 100%;
	margin-top: 15px;
	border-radius: 6px;
}

.field input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 14px;
	font-weight: 200;
	border-radius: 6px;
}

.field button {
	display: flex;
	height: 100%;
	width: 100%;
	border: none;
	font-size: 10px;
	font-weight: 200;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
}

.field input {
	outline: none;
	padding: 0 25px;
	border: 1px solid#CACACA;
}

.field input:focus {
	border-bottom-width: 2px;
}

.eye-icon1 {
	position: absolute;
	top: 0rem;
	left: 0px;
	/*transform: translateY(-50%);*/
	font-size: 18px;
	color: #8b8b8b;
	cursor: pointer;
	padding: 6px;
}

.eye-icon {
	position: absolute;
	top: 55%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 18px;
	color: #8b8b8b;
	cursor: pointer;
	padding: 5px;
}

.field button {
	color: #fff;
	background-color: #0171d3;
	transition: all 0.6s ease;
	cursor: pointer;
}

.div-row-buttom input[type="submit"] {
	background-color: #016dcb;
	color: #fff;
	border-radius: 20px;
	border: none;
	padding: 5px 3px;
	cursor: pointer;
	margin-top: 2%;
	box-shadow: 0.3px 3px rgba(101, 155, 235, 0.779);
}

.div-row-buttom input[type="submit"]:hover {
	background-color: #3b3bbe;
	transform: scale(1, 1.1) translate(0.1rem);
}

.form-link {
	text-align: center;
	margin-top: 20px;
}

.form-link span,
.form-link label {
	font-size: 15px;
	font-weight: 400;
	color: #232836;
}

.form label {
	color: #0171d3;
	text-decoration: none;
}

.form-content a:hover {
	text-decoration: underline;
}


button {
    padding: 0.2vw 0.3vh;
    font-size: 1.6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #9988f8;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #7866ff;
}

/* Botón Cuadro de Ingresar Usuario */
.modificar{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: chocolate;
    color:black; 
    padding: 0.5vw 3vh; 
    border: none; 
    border-radius: 2vw; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1vw; 
    cursor: pointer; 
}





/* Responsive */

@media screen and (max-width: 768px) {
	/*.form {
		width: 100%;
		padding: 20px 10px;
	}*/
}

@media screen and (max-width: 400px) {
	/*.form {
		width: 100%;
		padding: 20px 10px;
	}*/
}
