.container-form {
	height: 250px;
	max-width: 450px;
	display: flex;
	border-radius: 20px;
	box-shadow: 0.5px 7px rgba(0, 0, 0, 0.1);
	transition: all 1s ease;
	margin-top: 45px;
	margin-left: 25%;
}

.information {
	width: 40%;
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #f7d6e0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.info-childs {
	width: 100%;
	padding: 0 30px;
}

.info-childs h2 {
	font-size: 1.5rem;
}

.info-childs p {
	margin: 18px 0;
	color: rbg#333;
}

.info-childs input {
	background-color: transparent;
	outline: none;
	border: solid 2px #9191bd;
	border-radius: 20px;
	padding: 10px 15px;
	color: #9191bd;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.info-childs input:hover {
	background-color: #9191bd;
	border: none;
	color: #fff;
	box-shadow: 0.2px 5px rgba(0, 0, 0, 0.1);
}

.form-information {
	width: 60%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: rgb(115, 107, 158);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.form-information-childs {
	padding: 0% 30px;
}

.form-information-childs h2 {
	font-size: 2rem;
}

.form {
	margin: 20px 0 0 0;
}

.form label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border-radius: 20px;
	background-color: #fff;
	padding: 0 30px;
	box-shadow: 0.2px 5px rgba(0, 0, 0, 0.1);
}

.form label input {
	width: 100%;
	padding: 2px;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 20px;
	color: #333;
	cursor: pointer;
}

.form input[type="submit"] {
	background-color: #9191bd;
	color: #fff;
	border-radius: 20px;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	margin-top: 10px;
	box-shadow: 0.2px 5px rgba(0, 0, 0, 0.1);
}

.form input[type="submit"]:hover {
	background-color: #a7a7a9;
}

/* responsive */
@media screen and (max-width: 580px) {
	.container-form {
		height: auto;
		flex-direction: column;
	}

	.information {
		width: 100%;
		padding: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.form-information {
		width: 100%;
		padding: 20px;
		border-bottom-left-radius: 20px;
		border-top-right-radius: 20px;
		border-top-right-radius: 0;
	}
}
