<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="../css/ingresar_usuarios.css">
    <link rel="stylesheet" href="../css/tabla_usuarios.css">
</head>

<body>
    <header id="header"></header>

    <div class="iconNav">
        <h3>Fit21 Team Zone</h3>
        <img src="../img/logo.png" alt="logo" />
        <a href="../index.html">Inicio</a>
        <a href="./index1.html">CRUD</a>
        <a href="./tabla_usuarios.html">Tabla de Usuarios</a>
        <a href="./ingresar_usuarios.html">Registrar Usuario</a>
    </div>

    <hr>

    <main>
        <section>
            <div class="container-form">
                <form id="form-editar">
                    <div>
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" readonly>
                    </div>

                    <div>
                        <label for="nombre">Nombres</label>
                        <input type="text" name="nombre" id="nombre" required>
                    </div>

                    <div>
                        <label for="apellido">Apellidos</label>
                        <input type="text" name="apellido" id="apellido" required>
                    </div>

                    <div>
                        <label for="nacimiento">Fecha de Nacimiento</label>
                        <input type="date" name="nacimiento" id="nacimiento">
                    </div>

                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required>
                    </div>

                    <div>
                        <label for="password">Password</label>
                        <input type="text" name="password" id="password" required>
                    </div>

                    <div>
                        <label for="genero">Género</label>
                        <input type="text" name="genero" id="genero">
                    </div>

                    <button class="modificar" type="button" id="btnModificar">Modificar</button>
                </form>
            </div>
        </section>
    </main>

    <footer></footer>

    <script src="../js/datos_editar.js"></script>
    <script src="../js/editar_usuarios.js"></script>
</body>

</html>
