<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Inicio</title>
</head>
<body>

    <header id="header"></header>

  
        <div class="iconNav">
            <img src="../img/logo.png" alt="logo" />

      
            <h3>Fit21 Team Zone</h3>
       
            <a href="../index.html">Inicio</a>
            <a href="./index1.html">App Rest</a>
            <a href="./tabla_usuarios.html">Tabla de Usuarios</a>
            <a href="./ingresar_usuarios.html">Registrar Usuario</a>
        </div>
<hr>

    <main>
        <section >
            <div class="container">
                <h1>Base de Datos Fit21</h1>
                <h1>Entorno Usuario</h1>
                <div class="items">
                    <a href="ingresar_usuarios.html">Ingresar Nuevo Usuario</a>
                </div>

                <div class="items">
                    <a href="tabla_usuarios.html">Ver Tabla de Usuarios</a>
                </div>
            </div>

        </section>
    </main>

    <footer></footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="js/tabla_usuarios.js"></script>
    
</body>
</html