<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspectos Legales</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/stylesquestions.css">
</head> 
<body>
  <header>
    <div class="iconNav">
      <img src="../img/logo.png" alt="logo" />
      <h3>Fit21 Team Zone</h3>
    </div>
    <div class="container">
      <nav class="menu">
        <a href="../index.html" class="sombra-gris"
          ><button type="button">Inicio</button></a
        >
        <a href="./tarifas.html" class="sombra-gris"
          ><button type="button">Tarifas</button></a
        >
        <a href="./suscripcion.html" class="sombra-gris"
          ><button type="button">Suscripción</button></a
        >
        <a href="./login.html" class="sombra-gris"
          ><button type="button">Entrar</button></a
        >
      </nav>
      <div class="networks">
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-linkedin" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </header>

  <div class="emp">
    <h1>POLÍTICAS DE PRIVACIDAD Y ASPECTOS LEGALES</h1>
    </div>  
  <main>
     
    <div class="containerQuestions">
      <div class="content">
        <div class="accordion_item">
            <div class="accordion_header">
              <span>
                  POLÍTICA DE PRIVACIDAD.
              </span> 
              <div class="icon">
                +
              </div>
            </div>
    
            <div class="accordion_content">
              <p>
                  1. INFORMACIÓN AL USUARIO
              </p>    
                    <p>
                      <!-- <object className=""
								data="../pdf/politica_de_privacidad_21_FIT.pdf"
							></object> -->

                        <iframe src="../pdf/politica_de_privacidad_21_FIT.pdf" width="610px" height="210px" frameborder="0"></iframe>
                    </p>  
              
            
            </div>
          </div>

          <div class="accordion_item" style="background-color:#d3dde8;">
            <div class="accordion_header">
              <span>
                  TERMINOS GENERALES Y CONDICIONES DE USO.
              </span> 
              <div class="icon">
                +
              </div>
            </div>
    
            <div class="accordion_content">
              <p> 
                <iframe src="../pdf/terminos _y_ condiciones de uso _21FIT_Y_ APPT.pdf" width="610px" height="210px" frameborder="0"></iframe>               
              </p>
            </div>
          </div>

          <div class="accordion_item">
            <div class="accordion_header">
              <span>
                TRABAJA CON NOSOTROS
              </span> 
              <div class="icon">
                +
              </div>
            </div>
    
            <div class="accordion_content">
                  <p>
                  En Fit21 consideramos a las personas nuestro mayor activo y nuestra razón de ser, por ello el factor humano es un aspecto clave en nuestra organización. 
                 </P>
                  <P> 
                   Propiciamos su desarrollo, en un cordial ambiente de trabajo, con el objetivo de contar con personas formadas e involucradas en la empresa, 
                   que asuman los puestos de responsabilidad a medio y largo plazo, donde los objetivos de la empresa sean la suma de los objetivos de cada trabajador.
                  </p>
                   <p>
                  Si deseas asumir el reto de formar parte de 21Fit, te invitamos a que contactes con nosotros
                   </p>
                          
              </div>
          </div>        
      </div>
    </div>
  </main>
    <footer>
        <div>
            <h6>PROYECTO INTEGRADOR</h6>
            
                <ul>
                    <li><a href="preguntas.html">Preguntas Frecuentes.</a></li>
                    <li><a href="contacto.html">Contacto.</a></li>
                    <li><a href="Legal.html">Política de Privacidad y Aspecto Legal.</a></li>
                </ul>
        </div>
    </footer>
    <script src="../js/scriptquestions.js"></script>
</body>

</html>