<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspectos Legales</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../css/styles.css"> 
    <!-- <link rel="stylesheet" href="../css/stylesquestions.css"> -->
</head> 
<body>
    <header>
        <h3>21Fit</h3>
        <a href="../index.html"><img src="../img/gimnasio1.jpg" alt="" width="50"></a>
        <div class="tittle1">
            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>        
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <nav class="menu">
            <a href="../index.html">Inicio</a> 
            <a href="../template/tarifas.html">Tarifas</a>  
            <a href="../template/suscripcion.html">Suscripción</a>
            <a href="../template/login.html">Entrar</a>       
    </header>

    <h1>ASPECTOS LEGALES</h1>

    <div class="emp">
    <h1>POLÍTICAS DE PRIVACIDAD Y ASPECTOS LEGALES</h1>
    </div>  

  <main> 
    <div class="container">
      <div class="content">
        <div class="accordion_item">
          <div class="accordion_header">
            <span>
                POLÍTICA DE PRIVACIDAD
            </span> 
            <div class="icon">
              +
            </div>
          </div>
  
          <div class="accordion_content">
            <p>
                1. INFORMACIÓN AL USUARIO
                <p>
                21Fit es el responsable del tratamiento de los datos personales del Usuario y le informa que estos datos serán tratados de conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el Reglamento xxxx de xx de abril de 2… y la Ley Orgánica xxxx de xx de Diciembre 2…. relativo a la protección de las personas físicas y garantía de derechos digitales (xxxxxxx) en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos.
            </p>
            </p>
            
            <p> 2. CARÁCTER OBLIGATORIO O FACULTATIVO DE LA INFORMACIÓN FACILITADA POR EL USUARIO
                <p>
                El usuario garantiza que los datos que aporte son verdaderos, exactos, completos y se encuentran actualizados, siendo responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal obligación.                  
                </p>
            </p>
          </div>
        </div>

        <div class="container">
          <div class="content">
            <div class="accordion_item" style="background-color: #7155d5;">
              <div class="accordion_header">
                <span>
                    TÉRMINOS Y CONDICIONES GENERALES-USO Y APP.
                </span> 
                <div class="icon">
                  +
                </div>
              </div>
      
              <div class="accordion_content">
                <p>
                    1. TERMINOS Y CONDICIONES
                    <p>
                    TERMINOS Y CONDICIONES
                  </p>
                  </p>
                  
                  <p> 
                    <p>
                                      
                    </p>
                </p>
              </div>
            </div>

        <div class="accordion_item">
          <div class="accordion_header">
            <span>
              ASPECTO LEGAL
            </span> 
            <div class="icon">
              +
            </div>
          </div>
  
          <div class="accordion_content">
            <p>
               1. OBJETO
                <p>
                    21Fit (en adelante el prestador), responsable del sitio web, pone a disposición de los usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley xxxxxx, de Servicios de la Sociedad de la Información y del Comercio Electrónico (xxxxx), así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de uso del mismo. Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las disposiciones aquí incluidas, así como a cualquier otra disposición legal que fuera de aplicación. El prestador se reserva el derecho a modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de pre avisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.
                </p>
            </p>
               
            <p> 2. RESPONSABILIDAD
                <p>
                El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.
                </p>
                <p>
                    Desde este sitio web es posible que se redirija a contenidos de terceros sitios. Dado que el prestador no puede controlar siempre los contenidos introducidos por los terceros en su sitio, éste no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador manifiesta que procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.
                </p>
            </p>
            </div>
        </div>

        
      </div>
    </div>
  </main>
    <footer>
        <div>
            <h6>PROYECTO INTEGRADOR</h6>
            
                <ul>
                    <li><a href="preguntas.html">Preguntas Frecuentes.</a></li>
                    <li><a href="contacto.html">Contacto.</a></li>
                    <li><a href="Legal.html">Política de Privacidad y Aspecto Legal.</a></li>
                </ul>
        </div>
    </footer>
    
</body>

</html>