<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrese</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/styleslogin.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head> 
<body>
    <main>
        <header>
			<div class="iconNav">
				<img src="../img/logo.png" alt="logo" />
				<h3>Fit21 Team Zone</h3>
			</div>
			<div class="container">
				<nav class="menu">
					<a href="../index.html" class="sombra-gris"
						><button type="button">Inicio</button></a
					>
					<a href="./tarifas.html" class="sombra-gris"
						><button type="button">Tarifas</button></a
					>
					<a href="./suscripcion.html" class="sombra-gris"
						><button type="button">Suscripción</button></a
					>
					<a href="./login.html" class="sombra-gris"
						><button type="button">Entrar</button></a
					>
				</nav>
				<div class="networks">
					<a
						href="https://www.twitter.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-twitter" aria-hidden="true"></i
					></a>
					<a
						href="https://www.facebook.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-facebook" aria-hidden="true"></i
					></a>
					<a
						href="https://www.instagram.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-instagram" aria-hidden="true"></i
					></a>
					<a
						href="https://www.linkedin.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-linkedin" aria-hidden="true"></i
					></a>
				</div>
			</div>
		</header>

                <!-- Ingresar acá -->
                <section class="containerLogin forms">
                    <div class="form login">
                        
                        <div class="form-content">
                            <div class="encab">
                                <img src="../img/logo.jpg" alt="logo" />
                                <h1> Bienvenido</h1> 
                            </div>
                            <form action="#">
                                <div class="field input-field">
                                    <input type="email" placeholder="Correo Electrónico" class="input" required>
                                    <i class='bx bx-envelope eye-icon1' ></i>
                                </div>

                                <div class="field input-field">
                                    <input type="password" placeholder="Contraseña" class="password" required>
                                    <i class='bx bx-hide eye-icon'></i>
                                    <i class='bx bx-lock-alt eye-icon1'></i>
                                </div>

                                <div class="field button-field">                                    
                                    <div class="div-row-buttom">
                                        <input type="submit" value="Inicia Sección">
                                    </div>                                    
                                </div>
                            </form>

                            <div class="form-link">
                                <a href="#" class="forgot-pass">¿Olvidó su contraseña?</a>
                        </div>

                            <div class="form-link">
                                <span>¿Aún no tienes cuenta? <a href="#" class="link signup-link"> Regístrate aquí</a></span>
                            </div>                            
                        </div>
                    </div>

                        <!-- Registrarse acá -->

                    <div class="form signup">
                        <div class="form-content">
                            <div class="encab">
                                <img src="../img/logo.jpg" alt="logo" />
                               
                                    <p>¿Aún no tienes cuenta?</p>
                                    <h1>Regístrate</h1>                                  
                            </div>
                            <form action="#">
                                <div class="field input-field">
                                    <input type="text" placeholder="Nombre Completo" class="input" required>
                                    <i class='bx bx-user eye-icon1'></i>
                                </div>

                                <div class="field input-field">
                                    <input type="email" placeholder="Correo Electrónico" class="password" required>
                                    <i class='bx bx-envelope eye-icon1' ></i>
                                </div>

                                <div class="field input-field">
                                    <input type="password" placeholder="Contraseña" class="password" required>
                                    <i class='bx bx-lock-alt eye-icon1'></i>
                                    <i class='bx bx-hide eye-icon'></i>
                                </div>

                                <div class="field button-field">
                                        <div class="div-row-buttom">
                                        <input type="submit" value="Regístrate">
                                        </div>
                                                                    
                                </div>
                                </form>

                                <div class="form-link">
                                <span>¿Ya tienes una cuenta? <a href="#" class="link login-link"> Ingresar aquí</a></span>
                                </div>
                            </div>  
                        </div>           
                                        
                </section>
                
            <footer>
                <div>
                    <h6>PROYECTO INTEGRADOR</h6>
                    
                        <ul>
                            <li><a href="preguntas.html">Preguntas Frecuentes.</a></li>
                            <li><a href="contacto.html">Contacto.</a></li>
                            <li><a href="Legal.html">Política de Privacidad y Aspecto Legal.</a></li>
                        </ul>
                </div>
            </footer>

                <!-- JavaScript -->
                <script src="../js/scriptlogin.js"></script> 

    </main>
</body>
</html>

