<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../css/styles.css">
</head> 
<body>
    <header>
        <h3>Fit21 Team Zone</h3>
        <a href="../index.html"><img src="../img/gimnasio1.jpg" alt="" width="50"></a>
        <div class="tittle1">
            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>        
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <nav class="menu">
            <a href="../index.html">Inicio</a> 
            <a href="../template/tarifas.html">Tarifas</a>  
            <a href="../template/contacto.html">Suscripción</a>
            <a href="../template/login.html">Entrar</a>      
    </header>

    <H1>PREGUNTAS FRECUENTES</H1>

    <footer>
        <div>
            <h6>PROYECTO INTEGRADOR</h6>
            
                <ul>
                    <li><a href="preguntas.html">Preguntas Frecuentes.</a></li>
                    <li><a href="contacto.html">Contacto.</a></li>
                    <li><a href="Legal.html">Legal.</a></li>
                </ul>
        </div>
    </footer>
    
</body>

</html>