<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/stylesquestions.css">
</head> 
<body>
    
  <header>
    <div class="iconNav">
      <img src="../img/logo.png" alt="logo" />
      <h3>Fit21 Team Zone</h3>
    </div>
    <div class="container">
      <nav class="menu">
        <a href="../index.html" class="sombra-gris"
          ><button type="button">Inicio</button></a
        >
        <a href="./tarifas.html" class="sombra-gris"
          ><button type="button">Tarifas</button></a
        >
        <a href="./suscripcion.html" class="sombra-gris"
          ><button type="button">Suscripción</button></a
        >
        <a href="./login.html" class="sombra-gris"
          ><button type="button">Entrar</button></a
        >
      </nav>
      <div class="networks">
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="external noopener"
          ><i class="fa fa-linkedin" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </header>

  <div class="emp">
    <h1>PREGUNTAS FRECUENTES</h1>
    </div>  

  <main>
     
    <div class="containerQuestions">
      <div class="content">
        <div class="accordion_item">
          <div class="accordion_header">
            <span>
              1. ¿Qué es Fit21, tu gimnasio online?
            </span> 
            <div class="icon">
              +
            </div>
          </div>
  
          <div class="accordion_content">
            <p>
              Es una herramienta web creada para aquellos que no tienen tiempo de ir al gimnasio y quieren seguir haciendo ejercicio. Se ofrecen clases de fitness para disfrutar en la comodidad del domicilo o en cualquier lugar con conexión a internet.   
            </p>
          </div>
        </div>

        <div class="accordion_item" style="background-color: #d3dde8;">
          <div class="accordion_header">
            <span>
              2. ¿He elegido el gimnasio que me conviene?
            </span> 
            <div class="icon">
              +
            </div>
          </div>
  
          <div class="accordion_content">
            <p>
              Los primeros días tal vez te plantees si el gym al que vas es el “bueno”. Para obtener la respuesta, sopesa los pros y contras que te ofrece tu gimnasio. ¿Te queda cerca de casa o del trabajo? ¿Permite horarios flexibles? ¿Un precio razonable? ¿Ofrece el tipo de entrenamiento o las clases que buscas?... Si a todo (o a casi todo) respondes que sí, has conseguido acertar en la elección de tu gimnasio.
            </p>
            </div>
        </div>

        <div class="accordion_item">
          <div class="accordion_header">
            <span>
              3. ¿Entreno por mi cuenta o con un entrenador personal?
            </span> 
            <div class="icon">
              +
            </div>
          </div>
  
          <div class="accordion_content">
            <p>
              Depende de tu nivel físico y de los objetivos de la rutina de entrenamiento que elijas, pero, en las primeras sesiones, siempre es conveniente contar con el asesoramiento de un monitor que te oriente sobre las rutinas que más te convienen. Contar con un experto que te vigile y corrija tus errores a cada instante mejora tu rendimiento. También ayuda a que no flaquees y que ejerza casi de policía cuando, exhausta, exclames aquello de “no puedo más”. Pero deberás ser disciplinada con tu asistencia al gimnasio si quieres amortizar la inversión, dedicarle un presupuesto y ya verás, que al final, “sí puedes”.   
            </p>
          </div>
        </div>

        <div class="accordion_item" style="background-color: #b5c0ca;">
          <div class="accordion_header">
            <span>
              4. ¿Debo ir cada día? 
            </span> 
            <div class="icon">
              +
            </div>
          </div>
  
          <div class="accordion_content">
            <p>
              Puedes plantarte cada día en el gimnasio siempre que no trabajes los mismos grupos de músculos. Aún así, los expertos recomiendan desconectar un día. Por el bien de las articulaciones y el mental. Si tienes mono de deporte, mejor sal a pasear. Ir acompañada reduce el número de excusas para saltarte el entrenamiento.
            </p>
          </div>
        </div>        
      </div>
    </div>
  </main>
        
    <footer>
        <div>
            <h6>PROYECTO INTEGRADOR</h6>
            
                <ul>
                    <li><a href="preguntas.html">Preguntas Frecuentes.</a></li>
                    <li><a href="contacto.html">Contacto.</a></li>
                    <li><a href="Legal.html">Política de Privacidad y Aspecto Legal.</a></li>
                </ul>
        </div>
    </footer>
    <script src="../js/scriptquestions.js"></script>
</body>

</html>