<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifas</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/styles.css">
    
</head> 
<body>
    <main>
    <header>
        
        <h3>21Fit</h3>
        <div class="logo">
        <a href="../index.html"><img src="../img/gimnasio1.jpg" alt="" width="50"></a>
        </div>

        <div class="tittle1">
            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>        
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <nav class="menu">
            <a href="../index.html">Inicio</a> 
            <a href="../template/tarifas.html">Tarifas</a>  
            <a href="../template/suscripcion.html">Suscripción</a>
            <a href="../template/login.html">Entrar</a> 
    </header>

        <h1>TARIFAS</h1>
    
       
        

        <footer>
            <div>
                <h6>PROYECTO INTEGRADOR</h6>
                
                    <ul>
                        <li><a href="preguntas.html">Preguntas Frecuentes.</a></li>
                        <li><a href="contacto.html">Contacto.</a></li>
                        <li><a href="Legal.html">Política de Privacidad y Aspecto Legal.</a></li>
                    </ul>
            </div>
        </footer>
</body>
</html>
