<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifas</title>
    <script src="https://kit.fontawesome.com/dc47544c89.js" crossorigin="anonymous"></script> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css" />
    
</head> 
<body>
    
		<header>
			<div class="iconNav">
				<img src="../img/logo.png" alt="logo" />
				<h3>Fit21 Team Zone</h3>
			</div>
			<div class="container">
				<nav class="menu">
					<a href="../index.html" class="sombra-gris"
						><button type="button">Inicio</button></a
					>
					<a href="./contacto.html" class="sombra-gris"
						><button type="button">Contacto</button></a
					>
					<a href="./suscripcion.html" class="sombra-gris"
						><button type="button">Suscripción</button></a
					>
					<a href="./login.html" class="sombra-gris"
						><button type="button">Entrar</button></a
					>
				</nav>
				<div class="networks">
					<a
						href="https://www.twitter.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-twitter" aria-hidden="true"></i
					></a>
					<a
						href="https://www.facebook.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-facebook" aria-hidden="true"></i
					></a>
					<a
						href="https://www.instagram.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-instagram" aria-hidden="true"></i
					></a>
					<a
						href="https://www.linkedin.com"
						target="_blank"
						rel="external noopener"
						><i class="fa fa-linkedin" aria-hidden="true"></i
					></a>
				</div>
			</div>
		</header>

        <h1>TARIFAS</h1>
    
        <footer>
            <div>
                <h6>PROYECTO INTEGRADOR</h6>
                
                    <ul>
                        <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                        <li><a href="Legal.html">Política de Privacidad y Aspecto Legal</a></li>
                    </ul>
            </div>
        </footer>
</body>
</html>
